:root {
    /* Grey-scale Colors */
    --color-main-dark: #111111;
    --color-main-grey: #222222;
    --color-main-light: #eeeeee;
    
    /* Accent Colors */
    --color-accent-red: #ff4040;
    --color-accent-blue: #40b0c0;

    /* Global modifiable values */
    --color-light: var(--color-main-light);
    --color-dark: var(--color-main-grey);
}

body {
    background-color: var(--color-main-dark);
    color: var(--color-main-light);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p, a, button, input, ul, ol, li {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img {
    border: 4px solid var(--color-light);
}

button {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: auto;
    transition: all 0.3s ease 0s;
}