:root {
    /* Grey-scale Colors */
    --color-main-dark: #111111;
    --color-main-light: #eeeeee;
    
    /* Accent Colors */
    --color-accent-red: #ff4040;
    --color-accent-blue: #40b0c0;

    /* Global modifiable values */
    --color-light: var(--color-main-light);
    --color-dark: var(--color-main-dark);
}

.black-fade {
    --color-light: var(--color-main-dark);
    --color-dark: var(--color-main-dark);
}

.red-fade {
    --color-light: var(--color-accent-red);
    --color-dark: var(--color-accent-red);
}

#fade-overlay {
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--color-dark);
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: all 1s ease-in 0s;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, ul, ol, li {
    color: var(--color-light);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button {
    border: none;
    border-radius: 10px;
    padding: 9px 25px 11px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    transition: all 0.3s ease 0s;
}

/* Raindrops */
#storm-container {
    overflow: hidden;
}

.raindrop {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 2px;
    height: 120px; 
    background-color: #eeeeee;
    opacity: 0.2;
    animation: rain 1s linear infinite;
}

@keyframes rain {
    0% {
        transform: rotate(20deg) translateY(-100%);
    }
    100% {
        transform: rotate(20deg) translateY(120vh);
    }
}

/* Navigation */
nav {
    margin: 30px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    h1 {
        font-size: 36px;
        /* font-family: "Roboto", sans-serif; */
        font-weight: 500;
        padding: 0 10px;
        margin: 0;
        /* z-index: 100; */
    }
    a {
        font-weight: 300;
        font-size: 18px;
        color: var(--color-light);
        padding: 4px 10px;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        /* z-index: 100; */
    }
    a:hover {
        font-weight: 600;
    }
    a.active {
        font-weight: 600;
        border-bottom: 3px solid var(--color-light);
    }
}

/* Homepage */
#home-title {
    width: 1200px;
    position: absolute;
    top: 260px;
    img {
        z-index: -1;
        pointer-events: none;
        user-select: none;
        top: -160px;
        width: 850px;
        opacity: 0.4;
        position: absolute;
        transition: all 0.1s ease-out 0s;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 50px;
        h1 {
            font-size: 94px;
            padding: 0;
            margin: 0;
        }
        h2 {
            font-size: 18px;
            padding: 0 5px 0 0;
            margin: -22px 0 0 0;
        }
        p {
            font-weight: 300;
            text-align: right;
            width: 42%;
            margin-block: 45px 30px;
        }
        button {
            display: flex;
            align-items: center;
            gap: 10px;
            white-space: nowrap;
            background-color: var(--color-accent-red);
            color: var(--color-light);
            width: 260px;
            font-weight: 500;
            height: 50px;
            border-radius: 25px;
            margin-right: 10px;
            text-indent: 15px;
            span {
                margin-top: -7px;
                font-size: 40px;
                opacity: 0;
                transition: all 0.3s ease 0s;
            }
        }
        button:hover {
            font-weight: 600;
            text-indent: 0px;
            transform: scale(1.05);
            span {
                opacity: 1;
            }
        }
        button:active {
            background-color: #c03030;
            color: #c0c0c0;
            transform: scale(1.02) translateY(4px);
        }
    }
}

/* Timeline Page */
#timeline-container {
    display: flex;
    width: 500px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 1;
}
#timeline-container::-webkit-scrollbar {
    display: none;
}
#timeline-container::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 120px;
    background: linear-gradient(to right, var(--color-dark) 5%, transparent);
}
#timeline-container::after {
    content: '';
    position: absolute;
    margin-left: 350px;
    width: 150px;
    height: 120px;
    background: linear-gradient(to left, var(--color-dark) 5%, transparent);
}

#timeline {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    padding: 0px;
    margin-block: 60px 10px;
    .event {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        width: 30px;
        height: 30px;
        border: 6px solid var(--color-light);
        border-radius: 50%;
        background-color: var(--color-dark);
        h2 {
            font-size: 24px;
            margin-block: -120px 0px;
        }
    }
    .line {
        width: 150px;
        margin: -2px;
        border-top: 6px solid var(--color-light);
    }
    .line:first-child,
    .line:last-child {
        width: 232px;
        border-top-color: transparent;
    }
}

/* Map */
#map{
}
#map::after {
    /* box-shadow: inset 0 0 500px 1px var(--color-main-dark) !important; */
    content: '';
    pointer-events: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--color-dark) 15px, transparent 120px),
                /* linear-gradient(to left, var(--color-dark) 5px, transparent 40px),
                linear-gradient(to top, var(--color-dark) 20px, transparent 60px),
                linear-gradient(to right, var(--color-dark) 5px, transparent 40px), */
                radial-gradient(transparent 40%, var(--color-dark) 120%);
}

/* Mobile Viewport */
@media only screen and (max-width: 800px) {

}